@{
    ViewData["Title"] = "My Submissions";
}

<h2>My Submissions</h2>

<button class="btn btn-primary mb-3" onclick="goCreate()">Create New Submission</button>

<div class="row" id="mySubmissionsContainer"></div>

@section Scripts {
    <script src="~/js/submissionsMyProfile.js"></script>
}
